## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

#### Parte 1

In [2]:
# 1) Seu código aqui
df_mat['Tx_acertos'] = df_mat['Qt_acertos'] / 24
df_mat

    Qt_acertos  Tx_acertos
0            6    0.250000
1           19    0.791667
2           14    0.583333
3           10    0.416667
4            7    0.291667
..         ...         ...
95           6    0.250000
96           8    0.333333
97          23    0.958333
98           0    0.000000
99          11    0.458333

[100 rows x 2 columns]

In [3]:
df_por['Tx_acertos'] = df_por['Qt_acertos'] / 18
df_por

    Qt_acertos  Tx_acertos
0            7    0.388889
1           10    0.555556
2           16    0.888889
3            7    0.388889
4            2    0.111111
..         ...         ...
95           4    0.222222
96           1    0.055556
97           5    0.277778
98          10    0.555556
99          15    0.833333

[100 rows x 2 columns]

In [4]:
df_geo['Tx_acertos'] = df_geo['Qt_acertos'] / 8
df_geo

    Qt_acertos  Tx_acertos
0            7       0.875
1            0       0.000
2            0       0.000
3            3       0.375
4            2       0.250
..         ...         ...
95           7       0.875
96           4       0.500
97           0       0.000
98           3       0.375
99           0       0.000

[100 rows x 2 columns]

In [5]:
df_ing['Tx_acertos'] = df_ing['Qt_acertos'] / 8
df_ing

    Qt_acertos  Tx_acertos
0            3       0.375
1            0       0.000
2            5       0.625
3            4       0.500
4            7       0.875
..         ...         ...
95           1       0.125
96           6       0.750
97           2       0.250
98           1       0.125
99           1       0.125

[100 rows x 2 columns]

In [6]:
df_his['Tx_acertos'] = df_his['Qt_acertos'] / 8
df_his

    Qt_acertos  Tx_acertos
0            1       0.125
1            0       0.000
2            7       0.875
3            0       0.000
4            0       0.000
..         ...         ...
95           4       0.500
96           1       0.125
97           4       0.500
98           5       0.625
99           6       0.750

[100 rows x 2 columns]

In [7]:
df_fis['Tx_acertos'] = df_fis['Qt_acertos'] / 12
df_fis

    Qt_acertos  Tx_acertos
0            8    0.666667
1           11    0.916667
2            4    0.333333
3            0    0.000000
4            9    0.750000
..         ...         ...
95           9    0.750000
96           4    0.333333
97           1    0.083333
98          10    0.833333
99           7    0.583333

[100 rows x 2 columns]

In [8]:
df_qui['Tx_acertos'] = df_qui['Qt_acertos'] / 12
df_qui

    Qt_acertos  Tx_acertos
0            3    0.250000
1            8    0.666667
2            4    0.333333
3            8    0.666667
4            3    0.250000
..         ...         ...
95           3    0.250000
96           3    0.250000
97           5    0.416667
98          11    0.916667
99           2    0.166667

[100 rows x 2 columns]

#### Parte 2

In [9]:
# 2) Seu código aqui
df_geral = pd.DataFrame()
df_geral['Qt_acertos'] = (
    df_mat["Qt_acertos"] + 
    df_por["Qt_acertos"] +
    df_geo["Qt_acertos"] + 
    df_ing["Qt_acertos"] +
    df_his["Qt_acertos"] +  
    df_fis["Qt_acertos"] +
    df_qui["Qt_acertos"] 
)
df_geral

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

#### Parte 3

In [10]:
# 3) Seu código aqui
df_geral['Tx_acertos'] = df_geral['Qt_acertos'] / 90
df_geral

    Qt_acertos  Tx_acertos
0           35    0.388889
1           48    0.533333
2           50    0.555556
3           32    0.355556
4           30    0.333333
..         ...         ...
95          34    0.377778
96          27    0.300000
97          40    0.444444
98          40    0.444444
99          42    0.466667

[100 rows x 2 columns]

#### Parte 4

In [11]:
# 4) Seu código aqui
(df_geral['Tx_acertos'] >= .45).sum()

47

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [12]:
# seu código aqui
zerou_mat = df_mat["Qt_acertos"] == 0
zerou_fis = df_fis["Qt_acertos"] == 0 
zerou_qui = df_qui["Qt_acertos"] == 0
desq = zerou_mat | zerou_fis | zerou_qui
df_desq = pd.DataFrame({'Desqualificado': desq})
df_desq

    Desqualificado
0            False
1            False
2            False
3             True
4            False
..             ...
95           False
96           False
97           False
98            True
99           False

[100 rows x 1 columns]

In [13]:
df_desq['Desqualificado'].sum()

23

In [14]:
df_his['Tx_acertos'][desq].mean()

0.42934782608695654

In [15]:
df_geo['Tx_acertos'][desq].mean()

0.40217391304347827

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [16]:
arquivo = 'https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/PNI/vacina/uf/2021-05-23/uf%3DAC/part-00000-63e5bee2-3684-4286-b709-7fe85483b04e.c000.csv'

In [17]:
# 1) Sua solução aqui
df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')
df.head()

,document_id,paciente_id,paciente_idade,paciente_datanascimento,paciente_enumsexobiologico,paciente_racacor_codigo,paciente_racacor_valor,paciente_endereco_coibgemunicipio,paciente_endereco_copais,paciente_endereco_nmmunicipio,...,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataaplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem,data_importacao_rnds,id_sistema_origem
0,b19cd280-474c-4c22-a35d-8c06bc04a4e0-i0b0,2e091c9a37d3f50d1d705fc80c6448c6fc69b44da9e936...,69,1951-12-28,F,3,PARDA,120050.0,10.0,SENA MADUREIRA,...,210052A,FUNDACAO BUTANTAN,Organization/61189445000156,2021-03-23,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-03-25T03:27:19.000Z,NaN
1,a1acc0b6-1cf6-4c4b-adcb-06b473a0faaf-i0b0,f4e17a9e5354cb45e223d85eda02fb2f76048c801675f5...,81,1939-11-22,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,210110,FUNDACAO BUTANTAN,Organization/61189445000156,2021-04-29,2ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-04-30T16:03:14.000Z,NaN
2,af279a98-ba1f-47ea-8214-314a98040b0d-i0b0,6734b26bccf826130ebffa66575977bbe71477b12bcf42...,69,1951-08-14,M,4,AMARELA,120020.0,10.0,CRUZEIRO DO SUL,...,210135,FUNDACAO BUTANTAN,Organization/61189445000156,2021-04-16,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-04-16T15:54:39.000Z,NaN
3,4879308e-5050-46bb-b8e2-11fa5646a05c-i0b0,84a341fd350c1ba7117fccbb4d2df417bc0fac0fffac37...,51,1969-12-15,F,3,PARDA,120040.0,10.0,RIO BRANCO,...,202010040,FUNDACAO BUTANTAN,Organization/61189445000156,2021-02-19,2ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-03-10T14:40:54.000Z,NaN
4,000e911b-e3a4-4114-a735-d1f2e6e3797f-i0b0,c59571e19f368d4b0cf08cd3bcabb32e5cd8baad5340f6...,65,1955-11-21,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,212VCD001ZVB,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-03-29,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-04-03T19:44:28.000Z,NaN

In [18]:
# 2) 
df['paciente_id'].nunique()

120517

In [19]:
# 3)
doses = df['vacina_descricao_dose'].unique()
primeira_dose = df.loc[df['vacina_descricao_dose'] == doses[0], :]
primeira_dose['paciente_id'].nunique()

119713

In [20]:
# 4)
menos_de_18 = df.loc[df['paciente_idade'] < 18, :]
menos_de_18['paciente_id'].nunique()

47

#### Parte 5

In [21]:
# 5)
df['estabelecimento_razaosocial'].nunique()

42

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [22]:
# 1) 
aplic_menores = df.loc[df['paciente_idade'] < 18].copy()
aplic_menores.head()

,document_id,paciente_id,paciente_idade,paciente_datanascimento,paciente_enumsexobiologico,paciente_racacor_codigo,paciente_racacor_valor,paciente_endereco_coibgemunicipio,paciente_endereco_copais,paciente_endereco_nmmunicipio,...,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataaplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem,data_importacao_rnds,id_sistema_origem
1567,fdca313f-b348-422d-94d4-f2c66a87868c-i0b0,f5e6b8c44f7c4d13a87c582def5e8d460435b02f26af8c...,17,2003-07-18,F,4,AMARELA,120025.0,10.0,EPITACIOLANDIA,...,213VCD003W,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-05-12,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-05-13T16:16:42.000Z,NaN
6250,b7431955-1faa-4c1e-9246-7c1e7b8bb3cb-i0b0,e1a45c07e3c393d5f0eccf4204a7ceab338f4f06696ecb...,16,2004-05-18,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,200278,FUNDACAO BUTANTAN,Organization/61189445000156,2021-01-29,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-02-06T14:02:07.000Z,NaN
9569,fdb8d3b6-14d9-4bcc-9cfe-acd46b4a317a-i0b0,7cf3b238383a70eeb26841c01817737c9706d5b231e8c2...,17,2004-01-23,F,99,SEM INFORMACAO,120020.0,10.0,CRUZEIRO DO SUL,...,213VCD042Z,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-05-15,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-05-18T03:17:02.000Z,NaN
11338,647e2301-3ba4-463a-8d1e-2b6f38a4d99e-i0b0,53eb7fed5faa26ad17ce21ee378f28e25399ab7e90bc05...,17,2003-05-04,F,4,AMARELA,120030.0,10.0,FEIJO,...,4120Z004,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-02-09,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-02-09T22:08:13.000Z,NaN
15144,7f469e03-bece-49d0-bebc-33ad98e27f54-i0b0,dbaa6420d8a815158387668d0a59a19cf2bb63958e35d1...,16,2004-08-22,F,5,INDIGENA,120035.0,10.0,MARECHAL THAUMATURGO,...,202010028,FUNDACAO BUTANTAN,Organization/61189445000156,2021-01-28,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-02-09T19:26:03.000Z,NaN

In [23]:
# 2) 
colunas = df.columns
colunas

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_datanascimento', 'paciente_enumsexobiologico',
       'paciente_racacor_codigo', 'paciente_racacor_valor',
       'paciente_endereco_coibgemunicipio', 'paciente_endereco_copais',
       'paciente_endereco_nmmunicipio', 'paciente_endereco_nmpais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumnacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoatendimento_codigo',
       'vacina_grupoatendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataaplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem', 'data_importacao_rnds', 'id_sistema_origem'],
      dtype='object')

In [24]:
# 3)
contagem = aplic_menores['vacina_categoria_nome'].value_counts()
contagem

Povos Indígenas                     33
Trabalhadores de Saúde               9
Povos e Comunidades Tradicionais     9
Comorbidades                         2
Faixa Etária                         1
Name: vacina_categoria_nome, dtype: int64

In [25]:
# 4)
colunas_est = ['estabelecimento_valor', 
    'estabelecimento_razaosocial', 
    'estalecimento_nofantasia', 
    'estabelecimento_municipio_codigo',
    'estabelecimento_municipio_nome',
    'estabelecimento_uf'
]

In [26]:
# 5)
est_menores = aplic_menores.loc[:, colunas_est]
est_menores.shape

(55, 6)

In [27]:
#6)
est_menores.drop_duplicates()
est_menores.shape

(55, 6)